<link rel="stylesheet" href="~/css/Unauthorized/Index.css" />

@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
<h1>
    <span>O</span>
    <span>O</span>
    <span>P</span>
    <span>S</span>
</h1>
<h2>You are not authorized to access this page.</h2>
</div>

<a asp-controller="Users" asp-action="Logout">Click here</a> to signin using a different user
