@keyframes growInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-1000px);
    }

    to {
        opacity: 1;
    }
}

@keyframes growInFromRight {
    from {
        opacity: 0;
        transform: translateX(1000px);
    }

    to {
        opacity: 1;
    }
}

.growItemRight {
    animation-fill-mode: both;
    animation: growInFromRight 1.5s ease;
    
}

.growItemLeft {
    animation-fill-mode: forwards;
    animation: growInFromLeft 1.5s ease;
    
}

#logo {
    animation: growInFromLeft 1s ease;
    background-image: url(../../Images/Home/Jumbotron.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.marginBotGrid {
    margin-bottom: 30px;
}

video {
    width: 100% !important;
    height: auto !important;
}

#teamDiv {
    margin-bottom: 20px;
}

.teamImg {
    height: 50px;
}

.playerImg {
    margin: 20px auto;
    margin-bottom: 0;
    width: 70%;
}

.counter {
    font-weight: bold;
    font-size: 20px;
}

.title {
    text-decoration: underline;
}

.cardsArea {
    margin-top: 10px;
}

.headerTitle {
    text-decoration: underline;
    margin-bottom: 5px;
}