<link rel="stylesheet" href="~/css/Unauthorized/Index.css" />

@{
    ViewData["Title"] = "Not Found";
}

<div class="container">
    <h1>
        <span>4</span>
        <span>0</span>
        <span>4</span>
    </h1>
    <h2>Not found</h2>
</div>
