.matchCol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.competitionCol {
    display: flex;
    justify-content: flex-end;
}

.teamImg {
    height: 100px;
}

.matchCard {
    padding: 20px;
}

#detailsCardsArea {
    margin-top: 30px;
}

.detailsCard {
    margin-bottom: 30px;
}

.stadiumImage {
    margin-bottom: 20px;
}