.matchCol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.competitionCol {
    display: flex;
    justify-content: flex-end;
}

.teamImg {
    height: 100px;
}

.matchCard {
    padding: 20px;
}

#detailsCardsArea {
    margin-top: 30px;
}

.detailsCard {
    margin-bottom: 30px;
}

.stadiumImage {
    margin-bottom: 20px;
}

.cardCentered {
    text-align: center;
}

#winLoseChart {
    margin-bottom: 10px;
}

.winText {
    color: #009933;
}

.loseText {
    color: #990000;
}

.drawText {
    color: #669999;
}

.actionDiv {
    margin-bottom: 10px;
}