.monthRow {
    padding-left: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 60%, rgba(0,212,255,0) 100%);
    border-radius: 5px;
}
