.container{
    text-align:center
}

h3 {
    overflow: hidden;
    border-right: .15em solid transparent;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), cursor .75s step-end;
}

h4 {
    white-space: pre-line;
    margin: 0 auto;
    animation: paragraph 3.5s ease-in;
}

.logo {
    width: 100px;
    height: 100px;
    animation: zoom 5s ease-in-out infinite;
}

@keyframes paragraph {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}


@keyframes cursor {
    from, to {
        border-color: transparent
    }

    50% {
        border-color: cyan;
    }
}

@keyframes zoom {
    0% {
        transform: scale(1,1);
    }

    50% {
        transform: scale(1.1,1.1);
    }

    100% {
        transform: scale(1,1);
    }
}