<link rel="stylesheet" href="~/css/Home/Index.css" />

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div id="logo" class="jumbotron text-white jumbotron-image shadow">
        <h2 class="mb-3">
            Real Madrid CF - Offical Page.
        </h2>
        <h5 class="mb-5">
            Hala Madrid y nada mas!
        </h5>
    </div>

    <div id="cardsArea" class="row cardsArea">

        <div class='col-sm-6 col-md-8 growItemLeft'>
            <div class="card detailsCard">
                <h5 class="card-header">Featured Video</h5>
                <div class="card-body">
                    <video class="video" controls>
                        <source src="~/Videos/Intro.mp4" type="video/mp4">
                        Your browser does not support HTML5 video.
                    </video>
                </div>
            </div>
        </div>

        <div class='col-sm-6 col-md-4 growItemRight marginBotGrid'>
            <div class="card detailsCard">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h5>Random Player</h5>
                        </div>
                        <div class="col-sm-6 text-right">
                            <button id="refresh" class="btn btn-primary"><i class="fa"></i>Refresh</button>
                        </div>
                    </div>
                </div>
                <img id="playerImage" class="playerImg" />
                <div class="card-body">
                    <h5 id="player" class="card-title title"></h5>
                    <p id="playerText" class="card-text"></p>
                    <a id="routePlayerId" class="btn btn-primary">Player Details</a>
                </div>
            </div>
        </div>

        <div class='col-sm-12 col-md-8 growItemLeft'>
            <div class="card detailsCard">
                <h5 class="card-header">Goals Per Month - Last 6 Months</h5>
                <div class="card-body">
                    <div id="goalsGraph"></div>
                </div>
            </div>
        </div>

        <div class='col-sm-12 col-md-4 growItemRight'>
            <div class="card detailsCard">
                <h5 class="card-header">Upcoming Match</h5>
                <div class="card-body">
                    <h5 id="competition" class="card-title title"></h5>
                    <div id="teamDiv" class="row">
                        <div class="col-sm-5 text-center">
                            <h5 id="homeTeam"></h5>
                            <img id="homeImage" class="teamImg" />
                        </div>
                        <div class="col-sm-2 text-center">
                            vs
                        </div>
                        <div class="col-sm-5 text-center">
                            <h5 id="awayTeam"></h5>
                            <img id="awayImage" class="teamImg" />
                        </div>
                    </div>
                    <p id="counter" class="counter"></p>
                    <a id="routeGameId" class="btn btn-primary">Game Details</a>
                </div>
            </div>
        </div>

    </div>
</div>


    @section Scripts {
        <script src="~/lib/d3/d3.js"></script>
        <script src="~/js/Home/Index.js"></script>
    }
